  .footerWrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    height: 30px;
    background-color: #2c2827;
    color: white;
  }
  .copyWrigt {
    grid-column-start: 2;
    grid-column-end: 7;
    padding-top: 5px;
  }
  